<h1>New Game</h1>

<table>
  <tr>
    <% @letters.each do |letter| %>
    <td><%= letter %></td>
    <% end %>
  </tr>
</table>

<br>
<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <label for="word-input"></label>
  <input type="text" name="word" id="word-input" onfocus="true">
  <input type="submit" value="get score" id="subm">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
